{% extends "base.html" %}

{% block title %}Request Tutoring - Find A Tutor!{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
    <h2>Currently Requesting Tutoring From:</h2>
    <div id="list" class="list list-item">
        {% for a_request in requests %}
            <div class="list-item list-item-white">
                <h2><b>{{a_request.tutor}}</b></h2>
            </div>
        {% endfor %}
    </div>
    <h2>People who have requested your tutoring:</h2>
    <div id="list" class="list list-item">
        {% for a_request in requested %}
            <div class="list-item list-item-white">
                <h2><b>{{a_request.asker}}</b></h2>
                <a href="/accept/{{a_request.id_}}"><i class="far fa-check-circle"></i></a>
                <a href="/decline/{{a_request.id_}}"><i class="far fa-times-circle"></i></a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}