{% extends "base.html" %}

{% block title %}Request Tutoring - Find A Tutor!{% endblock title %}

{% block css %}
{% endblock css %}

{% block content %}
    <div id="list" class="list">
        {% for a_user in users %}
        {% if not a_user == user %}
            <a href="/ask/{{a_user[0]}}" class="list-item-link">
                <div class="list-item">
                    <h2><b>{{a_user[1]}} {{a_user[2]}}</b></h2>
                </div>
            </a>
        {% endif %}
        {% endfor %}
    </div>
{% endblock content %}